<?xml version="1.0" encoding="utf-8"?>
  <plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="cordova-cookie-broker" version="0.0.1">

    <name>Cordova Cookie Broker</name>

    <engines>
      <engine name="cordova" version=">=3.4.0" />
    </engines>

    <asset src="www/cookie-broker.js" target="js/cookie-broker.js" />

    <js-module src="www/cookie-broker.js" name="CookieBroker">
      <clobbers target="cookieBroker" />
    </js-module>

    <platform name="android">

      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="CookieBroker">
          <param name="android-package" value="ch.wavein.plugin.cookie.CookieBroker" />
        </feature>
      </config-file>

      <source-file src="src/android/CookieBroker.java" target-dir="src/ch/wavein/plugin/cookie/" />
    </platform>

    <platform name="ios">

      <config-file target="config.xml" parent="/*">
        <feature name="CookieBroker">
          <param name="ios-package" value="WVNCookieBroker" />
        </feature>
      </config-file>

      <header-file src="src/ios/WVNCookieBroker.h" />
      <source-file src="src/ios/WVNCookieBroker.m" />
    </platform>

  </plugin>